/* Mobile Responsiveness */
@media (max-width: 600px) {
    .basic-pannel-expand {
        padding: 40px 15px;
    }
    html,
    body {
        overflow-x: hidden;
    }
    body {
        background-color: black;
        color: white;
        scroll-behavior: smooth;
        font-size: 14px;
        /* smaller base font */
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .basic-pannel-expand h1 {
        font-size: 2rem;
        padding-bottom: 30px;
    }

    .basic-pannel-expand-main-content,
    .feature-row {
        flex-direction: column;
        gap: 15px;
    }

    .basic-pannel-expand-main-content-feature,
    .basic-pannel-expand-download-image,
    .feature-box {
        min-width: 90%;
    }

    .basic-pannel-expand-main-content-img {
        max-width: 100%;
        height: auto;
    }

    .Download-now-btn-expand {
        width: 125%;
        max-width: 300px;
        height: 55px;
        font-size: 1rem;
    }
}